{% extends sonata_block.templates.block_base %}

{% block block %}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">

        {{ chart(ob) }}
        {{ chart(obEchant) }}

    </script>
    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    <div id="linechartEchant" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

{% endblock %}
