{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if data is defined %}
        {% for notif in data %}
            <div class="alert alert" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ notif.notifMessage }} <a href="{{ path('sonata_admin_dashboard') }}" class="glyphicon glyphicon-remove" style="color: red"></a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
