{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section class="container-fluid" id="loginContainer">
        <h1>GSB | Application Compte-rendus <br/> <small>Bienvenue , veuillez vous connecter</small></h1>
        <form class="form-group" action="{{ path("fos_user_security_check") }}" method="post">
            {% if error %}
                <div>Nom d'utilisateur ou mot de passe invalid, veuillez réessayez.</div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username">Nom d'utilisateur :</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>
            <button type="submit" id="_submit" name="_submit">Connexion</button>
        </form>
        <div id="containerLinks">
            <label for="linkGDrive">Liens d'accés aux sources et documentations</label><br/>
            <a id="linkGDrive" href="https://drive.google.com/drive/folders/0B0G4H8MaMcyEQVdDX3pnRDZsTjA?usp=sharing">Accéder</a><br/>
            <label for="linkApk">Ficher ".APK" de l'application android du projet  "GSB | Compte rendu MOBILE"</label><br/>
            <a id="linkApk" href="../images/gsbCrFini.apk">Télécharger</a>
        </div>
    </section>
{% endblock fos_user_content %}