{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section class="container-fluid" id="loginContainer">
        <h1>GSB | Application Compte-rendus <br/> <small>Bienvenu , veuillez vous connecté</small></h1>
        <form class="form-group" action="{{ path("fos_user_security_check") }}" method="post">
            {% if error %}
                <div>Nom d'utilisateur ou mot de passe invalid, veuillez réessayez.</div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username">Nom d'utilisateur :</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>
            <div class="form-group">
                <input class="form-control" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Se souvenir de moi</label>
            </div>
            <button type="submit" id="_submit" name="_submit">Connexion</button>
        </form>
    </section>
{% endblock fos_user_content %}